<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Allowed values: A B X Y LB LT RB RT -->
    <add key="A" value="Y" />
    <add key="B" value="X" />
    <add key="C" value="RB" />
    <add key="J" value="B" />
    <add key="S" value="A" />
  </appSettings>
</configuration>